/* NAVIGATION ************************************************************************************/

@media all and (min-width: 768px) {

    /*slide*/

    .slider {
        position: relative;
    }
   
    #image-slide {
        animation-name: slide;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: steps(1, end);
    }
   
    .ombre {
        z-index: 2;
        background: rgba(0, 0, 0, .4);
        color: #fff;
        text-decoration: none;
        height: 60px;
        width: 20px;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        position: absolute;
        top: 42%;
        display: flex;
        left: 0%;
        align-items: center;
        cursor: pointer;
    }
    .ombre1 {
        z-index: 2;
        background: rgba(0, 0, 0, .4);
        color: #fff;
        text-decoration: none;
        height: 60px;
        width: 20px;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        position: absolute;
        top: 42%;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0%;
        cursor: pointer;
    }
    /*portfolio*/
    .picture:hover .legende {
        opacity: 1;
        bottom: 4px;
        visibility: visible;
    }
    .picture .legende {
        visibility: hidden;
    }
    .picture:hover .legende {
        opacity: 1;
        bottom: 4px;
    }
    /*services*/
    .center {
        margin: auto;
        max-width: 50%;
    }
    .conteneur-services {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .logo-texte-services {
        display: flex;
        flex-direction: row;
        max-width: 800px;
    }
    .services h3 {
        text-align: left;
        margin-bottom: 0;
    }
    /*sigles*/
    .ux {
        width: 50px;
        width: 50px;
        margin-top: -50px;
        padding-right: 40px;
    }
    /*contact*/
    .contact {
        margin-top: 0;
        width: 100%;
    }
    .contact img {
        display:block;
        position: absolute;
        margin-top: 0;
        width: 100%;
        height: 650px;
    }
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical
    }
    input[type=submit] {
        background-color: #6699cc;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: #6699cc;
    }
    .conteneur-carte-formulaire{
        display: flex;
        justify-content: flex-end;
        z-index: 2;
    }
    .container-formulaire {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 20%;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px 20px 10px 20px;
    }
    .filtre-bleu {
        display: flex;
        position: absolute;
        width: 100% !important;
        height: 650px !important;
        background-color: #3491B2;
        opacity: 0.3;
    }
}

@media all and (min-width: 968px) { 
    
    nav {
        margin: 0;
        padding: 0;
        background-color: #fff;
        z-index: 4;
        width: 100%;
        position: fixed;
    }

    #logo {
        display: block;
        padding: 0;
        float: left;
        padding: 10px 10px 20px 100px;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
    }

    .menu a:hover {
        border-top: 1px solid #6699cc;
    }

    .menu-burger {
        display: none !important;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        display: block;
        width: 100%;
        background-color: #fff;
        text-align: center;
        float: none;
    }

    nav a {
        display: block;
        padding: 10px 30px 0 30px;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
    }
    /*slider*/
    .slider {
        position: relative;
    }

    /*texte d'introduction***********************************************************************/
    .blue {
        display: none;
    }

    .container-text-slider {
        position: absolute;
        top: 40%;
        left: 15%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 80px;
        max-width: 100%;
    }

    .container-text-slider p, 
    .container-text-slider h1 {
        color: #fff;
        padding-left: 20px;
        width: 100%;
    }
    .container-text-slider h1 {
        text-transform: uppercase;
    }
    /*bouton*/
    .blue-button {
        width: 100%;
        margin: 20px;
    }
    .button-writting {
        width: 25%;
        height: 50px;
    }
}
