/* PARTIE RESPONSIVE --------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px)

{
    body
  
    {
        margin: 0;
    }

    #bloc-page
   
    {
        width: auto;
    }
    
/* Menu & Logo ----------------------------------------------------------------------------------------------------------------------*/
  
     #logo
   
    {
        display: flex;
        justify-content: flex-start;

    }

    .main-nav
   
    {
        display: flex;
        flex-direction: column;

    }

    .menu
   
    {
        display: flex;
        justify-content: flex-end;
    }

    ul
    {
        list-style: none;
        display: flex;
    }

/* SERVICES ----------------------------------------------------------------------------------------------------------------------*/

    .service
   
    {


    }

    #conteneur-services
   
    {


    }

    #ordi
   
    {


    }

    .bloc-services
   
    {


    }

    .services-description
   
    {


    }

    .services-logo

    {


    }

    .bulle-bleue
   
    {


    }

    .services-text

    {


    }

/* PROJET ------------------------------------------------------------------------------------------------------------------------*/

   .nos-projets

   {


   }

   .section-header2

   {


   }

   #point-bleu

   {


   }

   .texte-sous-h2

   {


   }

   /* MENU PROJET ----------------------------------------------------------------------------------------------------------------*/

    .conteneur-menu-projet

    {


    }

    /* PORFOLIO -----------------------------------------------------------------------------------------------------------------*/

    .flex-container-portfolio

    {
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

    }

     .flex-item

    {
        width: auto;
    }

    .projet-detail

    {


    }

     .eyes

    {

        
    }
      


   

    /* CONTACT ------------------------------------------------------------------------------------------------------------------*/


    #contact

    {


    }

    #conteneur-contact 

    {
      

    }


    /* CARTE GOOGLE -------------------------------------------------------------------------------------------------------------*/
}

