/* Général -------------------------------------------------------------------------------------------------------------------------*/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

body h1 h2 {
    text-transform: uppercase;
}

body h2 {
    font-size: 3em;
}

body h3 {
    font-family: 'Roboto', sans-serif;
}

nav {
    font-family: 'Roboto', sans-serif;
    z-index: 4;
    width: 100%;
    position: fixed;
}

img {
    width: 100%;
    height: auto;
}

a,
p,
label {
    color: #555;
}

.trait {
    margin-bottom: 50px;
}

.trait p{
    color: #5CABD1;
}

.trait p:before {
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    height: 1px;
    background: #000;
}

.trait p:after {
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    height: 1px;
    background: #000;
}

.trait p:before {
    margin-right: .3rem;
}

.trait p:after {
    margin-left: .3rem;
}

/* Menu & Logo ----------------------------------------------------------------------------------------------------------------------*/

nav input {
    visibility: hidden;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#logo{
    display: block;
    padding: 0;
    float: left;
    padding-top: 10px;
}

nav {
    margin: 0;
}

.menu{
    display: none;
}

.toggle {
    display: block;
    background-color: #fff;
    padding: 0 20px;
    color: #5CABD1;
    font-size: 30px;
    font-weight: 60px;
    line-height: 60px;
    text-decoration: none;
    border: none;
    text-align: right;
    padding-top: 10px;
    cursor: pointer;
}

[id^=drop]:checked + ul {
    display: block;
}

nav ul{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: block;
    width: 100%;
    background-color: #fff;
    text-align: center;
    float: left;
}

nav a {
    display: block;
    padding: 0 60px;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

li > a:only-child:after {
    content: '';
}

/* Slider -------------------------------------------------------------------------------------------------------------------------*/

header {
    width: 100%;
    padding-top: 100px;
}

#slideshow,
.container-slide {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}

.slider {
    display: flex;
    justify-content: center;
    width: 200%;
    padding: 0;
    margin: 0;
    position: relative;
}

figure {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}

.ombre1,
.ombre {
    display: none;
}

/*Bouton------------------------------------------------------------------------------------------------------------------------*/

.button {
    width: 100px;
    margin-bottom: -20px;
}

.bouton1 {
    padding: 10px 0 10px 0;
    font: bold 16px Arial;
    font-weight: bold;
    background: #5CABD1;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: none;
    text-align: center;
}

/*Paragraphe d'introduction-----------------------------------------------------------------------------------------------------*/

.intro {
    display: flex;
    justify-content: center;
}

.intro p {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 50px;
}

.texte-intro {
    display: flex;
    flex-direction: row;
}

.blue {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8F1FF;
    width: 100%;
}

.blue0 {
    display: none;
}

/* Icone avec point bleu----------------------------------------------------------------------------------------------------------*/

.ux {
    width: 50px;
    margin-top: 40px;
    padding-right: 40px;
}

.cercle {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.point-Bleu {
    font-size: 150px;
    color: #5CABD1;
    position: relative;
    left: 43px;
    bottom: 140px;
}

.camembert {
    color: #5CABD1;
    position: relative;
    left: 16px;
    top: 14px;
}

/* SERVICES ----------------------------------------------------------------------------------------------------------------------*/

#conteneur-logo-texte {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.uxdesign {
    color: #5CABD1;
    position: relative;
    top: 13px;
    margin-left: 10px;
}

.logo-et-texte1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texte1 {
    display: flex;
    flex-direction: column;
}

.services {
    margin-bottom: 50px;
}

.services h2 {
    font-size: 2em;
    margin-top: 50px;
    text-transform: uppercase;
}

.services h3 {
    text-align: center;
    padding-bottom: 0;
}

.services ul {
    list-style-type: none;
    margin-top: 50px;
    padding-left: 0px;
}

.services li {
    position: relative;
    padding-left: 0px;
}

.services img {
    margin-top: 50px;
}

.center {
    text-align: center;
    padding: 0 10px;
    margin: auto;
}

#conteneurservices {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 10px;
}

.elementservices {
    margin: auto;
    padding: 0 10px;
}

/* PROJET ------------------------------------------------------------------------------------------------------------------------*/
.projets {
    background: #f5f5f5;
}

.projets h2 {
    font-size: 2em;
    padding-top: 30px;
}

#conteneurMenu {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


/* Triangle -----------------------------------------------------------------------------------------------------------------------*/

.triangle {
    position: absolute;
    margin-left: -42px;
    margin-top: 18px;
    color: #468CAD;
    visibility: hidden;
}

.projets input:checked + label .triangle { /* Forum site besoin d'explication */
    visibility: visible;
}


/*Projet coché ---> apparition triangle-------------------------------------------------------------------------------------------*/

.icone {
    display: flex;
    justify-content: center;
}


/* Portfolio ---------------------------------------------------------------------------------------------------------------------*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.pictureRow {} /* Je ne sais pas quoi mettre ici lol car il semble que cela marche sans le remplir ! */

.picture {
    min-width: 250px;
    width: 23%;
    display: block;
    position: relative;
    overflow: hidden;
}

.picture img {
    width: 100%;
    margin: 10px;
}

.legende {
    text-align: left;
    position: absolute;
    background: rgba(0, 0, 0, 0.5); /* site Alsacréation */
    color: #fff;
    padding: 10px 10px;
    opacity: 0;
    bottom: -30%;
    left: 0;
    margin: 10px;
    width: 100%;
}

.picture 
.legende {
    opacity: 1;
    bottom: 4px;
}

.iconeOeil {
    position: absolute;
    background-color: #4DA1B1;
    color: #fff;
    left: 70%;
    top: -28%;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}


/*target ---------------------------------------------------------------------------------------------------------------------------*/

.projets input {
    display: none;
}

.projets ul {
    padding: 0;
}

.projets label {
    background: #C0C0C0;
    color: grey;
    padding: 8px;
    margin: 0;
    border-bottom: 3px solid #C0C0C0;
    text-align: center;
    display: inline-block;
}

.projets label:hover {
    color: #888;
    cursor: pointer;
}

.projets input:checked + label {
    background: #5CABD1;
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid #468CAD;
}   

#tab_allworks:checked ~ #content1,
#content2,
#content3,
#content4 #content5 #content6,
#content7,
#content8,
#tab_creative:checked ~ #content2,
#content3,
#content4,
#tab_corporate:checked ~ #content5,
#content6,
#tab_portfolio:checked ~ #content7,
#content8 {
    display: block;
}
/* CONTACT ------------------------------------------------------------------------------------------------------------------*/

.contact img {
    display:none;
}
.contact {
    margin-top: 20px;
}

.contact p {
    color: black;
    font-weight: bold;
}

input[type=text], /* cours sur les formulaires */
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #fff;
    color: #5CABD1;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #fff;
}

.container {
    width: 100%;
    border-radius: 5px;
    background: #5CABD1;
    opacity: 0.7;
    padding: 10px 20px 10px 20px;
    margin: 5% 5% 5% 5%;
}

#conteneur4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 4px;
}

 /* CARTE GOOGLE -------------------------------------------------------------------------------------------------------------*/


